@tailwind base;
@tailwind components;
@tailwind utilities;

.mainNav.active {
  max-width: 300px;
}
.mainNav {
  max-width: 80px;
}

@media screen and (max-width: 768px) {
  .mainNav {
    left: -100%;
    top: 0;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    position: absolute;
    height: 100%;
  }
  .mainNav.active {
    left: 0;
  }
}
